<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="site.css" />
  </head>
  <body id="app">
    <div class="container">
      <h1>{{ title }}</h1>
      <div v-for="p in sortedProducts" class="card">
        <div class="product-image">
          <img
            v-bind:src="p.imageUrl"
            alt="product image"
            title="product image: click to add new purchase"
          />
        </div>
        <div class="product-text">
          <div title="product name: click to add new purchase">
            {{ p.name }}
          </div>
          <div title="product description: click to add new purchase">
            {{ p.description}}
          </div>
        </div>
        <div class="product-quantity">
          <div title="increment product quantity">
            <img
              @click="onIncrement(p)"
              src="images/plus.svg"
              alt="increment"
            />
          </div>
          <div title="product quantity">{{ quantity(p.stores) }}</div>
          <div title="decrement product quantity">
            <img
              @click="onDecrement(p)"
              src="images/minus.svg"
              alt="decrement"
            />
          </div>
        </div>
        <div class="product-store" title="product stores">
          <ul>
            <li
              v-on:click="onEdit(p, s.id)"
              v-for="s in cheapestStores(p.stores)"
              title="store name | quantity | price: click to edit purchase"
            >
              {{s.name}} | {{s.quantity}} | {{s.price}}
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div class="tool-bar">
          <img
            id="img-add-product"
            src="images/plus.svg"
            alt="add product"
            title="add product"
            v-bind:class="isAdding"
            v-on:click="onAdd"
          />
          <img
            id="img-edit-product"
            src="images/edit.svg"
            alt="edit product"
            title="edit product"
            v-bind:class="isEditing"
          />
          <img
            id="img-cancel-product"
            src="images/cancel.svg"
            alt="cancel product"
            title="cancel product"
            v-on:click="onCancel"
          />
          <img
            id="img-save-product"
            src="images/save.svg"
            alt="save product"
            title="save product"
            v-on:click="onSave"
          />
          <img
            id="img-delete-product"
            src="images/delete.svg"
            alt="delete product"
            title="delete product"
            v-on:click="onDelete"
          />
        </div>
        <div v-if="showForm">
          <form>
            <label for="productName">
              Product Name:
              <input
                name="productName"
                title="product name"
                placeholder="Product Name"
                v-model="productName"
              />
            </label>
            <br />
            <label for="productDescription">
              Product Description:
              <textarea
                name="productDescription"
                title="product description"
                placeholder="Product Description"
                v-model="productDescription"
              ></textarea>
            </label>
            <hr />
            <label for="productStore">
              Product Store:
              <input
                name="productStore"
                title="product store"
                placeholder="Product Store"
                v-model="productStoreName"
              />
            </label>
            <br />
            <label for="productQuantity">
              Product Quantity:
              <input
                name="productQuantity"
                title="product quantity"
                placeholder="Product Quantity"
                v-model="productStoreQuantity"
              />
            </label>
            <br />
            <label for="productPrice">
              Product Price:
              <input
                name="productPrice"
                title="product price"
                placeholder="Product Price"
                v-model="productStorePrice"
              />
            </label>
            <br />
          </form>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="market4.js"></script>
  </body>
</html>
